*{box-sizing: border-box;color:black;font-size:14px;}
html, body { margin: 0; padding: 0;}
.img-responsive {width:100%;height:auto;}
.img-container {position:absolute; top:50%;left:50%;transform: translate(-50%,-50%);}
.header {width:100%;height:50px;float:left; overflow:hidden;min-height:1px;position:relative;}
.header div {display:inline-block; float:left;padding-right:10px;position:relative;width:calc(100%/12);height:100%;text-align:center;white-space: nowrap;}
.header div:first-of-type {width:calc((100%/6)*2);}
.header div.img-container {position: relative;width:50%;height:100%;}
.header div.img-container > img {position:absolute;top:50%;transform:translateY(-50%);left:0;}
.header div> h1 { font-family: Arial, Helvetica, sans-serif;font-weight: 100;margin:0;padding:0; position: absolute;left:50%;top:50%;transform: translate(-50%,-50%)}
.header div:after,.header div:before {content:"";clear:both;} 
.main-offer {display:block; position:relative; overflow:hidden;min-height:200px;width:100%;background-color:black;}
